@model CharacterIndexViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = Model.Character!.Name;
}

<h1 class="heading text-center">@Model.Character.Name</h1>

@if (TempData.Keys.Contains("message"))
{
    <div class="col-md-4 offset-md-4 alert alert-info alert-dismissible fade show" role="alert">
        @TempData["message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (Model.Character.UserId == Model.CurrentUser?.Id)
{
    <div class="text-center">
        <a asp-action="Edit" asp-route-id="@Model.Character.Id" class="button d-inline-block p-3">Edit</a>
        <a asp-action="Delete" asp-route-id="@Model.Character.Id" class="button d-inline-block p-3 ms-2">Delete</a>
    </div>
}

<div class="col-md-4 offset-md-4 wooden-form p-5">
    <p>
        User:
        <a asp-controller="User" asp-action="Index" asp-route-id="@Model.Character.User!.Id" class="text-light text-decoration-none">
            @Model.Character.User.Name
        </a>
    </p>
    <p>Health: @Model.Character.Health</p>
    <p>Type: @Model.Character.GetType()</p>
    <p>Species: @Model.Character.Species</p>
</div>

<h2 class="heading text-center">Skills</h2>

@if (Model.Character.SkillPrimary == null && Model.Character.SkillSecondary == null &&
    Model.Character.SkillTertiary == null)
{
    <div class="col-md-4 offset-md-4 wooden-form p-5">No skills.</div>
}

@if (Model.Character.SkillPrimary != null)
{
    @await Html.PartialAsync("Skill", Model.Character.SkillPrimary)
}
@if (Model.Character.SkillSecondary != null)
{
    @await Html.PartialAsync("Skill", Model.Character.SkillSecondary)
}
@if (Model.Character.SkillTertiary != null)
{
    @await Html.PartialAsync("Skill", Model.Character.SkillTertiary)
}
