@model Team
<ul>
    @if (Model.Character1 != null)
    {
        <li>
            <a asp-controller="Character" asp-action="Index" asp-route-id="@Model.Character1.Id">@Model.Character1.Name</a>
        </li>
    }
    @if (Model.Character2 != null)
    {
        <li>
            <a asp-controller="Character" asp-action="Index" asp-route-id="@Model.Character2.Id">@Model.Character2.Name</a>
        </li>
    }
    @if (Model.Character3 != null)
    {
        <li>
            <a asp-controller="Character" asp-action="Index" asp-route-id="@Model.Character3.Id">@Model.Character3.Name</a>
        </li>
    }
    @if (Model.Character4 != null)
    {
        <li>
            <a asp-controller="Character" asp-action="Index" asp-route-id="@Model.Character4.Id">@Model.Character4.Name</a>
        </li>
    }
    @if (Model.Character5 != null)
    {
        <li>
            <a asp-controller="Character" asp-action="Index" asp-route-id="@Model.Character5.Id">@Model.Character5.Name</a>
        </li>
    }
</ul>
