@model UserViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = Model.SelectedUser!.Name;
}

<h1 class="heading d-flex justify-content-center align-items-center p-0">
    @Model.SelectedUser.Name
</h1>
@if (Model.SelectedUser.Tagline != null)
{
    <blockquote>
        @Model.SelectedUser.Tagline
    </blockquote>
}
@if (Model.CurrentUser?.Id == Model.SelectedUser.Id)
{
    <p>
        <a asp-action="Edit">Edit Tagline</a>
    </p>
}
<div>
    <a asp-action="Characters" asp-route-id="@Model.SelectedUser.Id" class="button button-fixed">Characters</a>
    <a asp-action="Teams" asp-route-id="@Model.SelectedUser.Id" class="button button-fixed">Teams</a>
</div>

@RenderBody()
