@model UserViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = Model.SelectedUser!.Name;
}

<h1 class="heading text-center">@ViewData["Title"]</h1>

<div class="col-sm-4 offset-sm-4 wooden-form p-5">
    <div>Tagline: @(Model.SelectedUser.Tagline ?? "(none)")</div>
    <div>Favorite Book: @(Model.SelectedUser.FavoriteBook ?? "(none)")</div>
    <div>Favorite Game: @(Model.SelectedUser.FavoriteGame ?? "(none)")</div>
    <div>Favorite Movie: @(Model.SelectedUser.FavoriteMovie ?? "(none)")</div>
    @if (Model.CurrentUser?.Id == Model.SelectedUser.Id)
    {
        <div class="text-center mt-5">
            <a asp-action="Edit" class="button d-inline-block p-3">Edit Profile</a>
        </div>
    }
</div>

<div class="d-flex flex-column flex-md-row justify-content-center align-items-center">
    <a asp-action="Characters" asp-route-id="@Model.SelectedUser.Id" class="button button-fixed m-3 fs-5">Characters</a>
    <a asp-action="Teams" asp-route-id="@Model.SelectedUser.Id" class="button button-fixed m-3 fs-5">Teams</a>
</div>

@RenderBody()
