@model UserViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = Model.SelectedUser.Name;
}

<h1>
    @Model.SelectedUser.Name
</h1>
<blockquote>
    @Model.SelectedUser.Tagline
</blockquote>
<p>
    <a asp-route-section="combatants">Combatants</a>
    <a asp-route-section="teams">Teams</a>
</p>
@if (Model.SelectedSection == "combatants") {
    <h2>
        Combatants
    </h2>
    @if (Model.CurrentUser?.Id == Model.SelectedUser.Id)
    {
        <p>
            <a asp-controller="Character" asp-action="Add">Create Combatant</a>
        </p>
    }
    <p>
        @Model.Combatants.Count
        combatant@(Model.Combatants.Count == 1 ? "" : "s")
    </p>
    @foreach (Combatant combatant in Model.Combatants)
    {
        <p>
            <a asp-controller="Character" asp-action="Index" asp-route-id="@combatant.Id">@combatant.Name</a>
        </p>
    }
}
else
{
    <h2>
        Teams
    </h2>
    @if (Model.CurrentUser?.Id == Model.SelectedUser.Id)
    {
        <p>
            <a asp-controller="Team" asp-action="Add">Create Team</a>
        </p>
    }
    <p>
        @Model.Teams.Count
        team@(Model.Teams.Count == 1 ? "" : "s")
    </p>
    @foreach (Team team in Model.Teams)
    {
        <h3>
            @team.Name
        </h3>
        <ul>
            <li>
                <a asp-controller="Character" asp-action="Index" asp-route-id="@team.Combatant1.Id">@team.Combatant1.Name</a>
            </li>
            <li>
                <a asp-controller="Character" asp-action="Index" asp-route-id="@team.Combatant2.Id">@team.Combatant2.Name</a>
            </li>
            <li>
                <a asp-controller="Character" asp-action="Index" asp-route-id="@team.Combatant3.Id">@team.Combatant3.Name</a>
            </li>
            <li>
                <a asp-controller="Character" asp-action="Index" asp-route-id="@team.Combatant4.Id">@team.Combatant4.Name</a>
            </li>
            <li>
                <a asp-controller="Character" asp-action="Index" asp-route-id="@team.Combatant5.Id">@team.Combatant5.Name</a>
            </li>
        </ul>
    }
}
