@model UserTeamsViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = Model.SelectedUser.Name;
}

<h1>
    @Model.SelectedUser.Name
</h1>
<blockquote>
    @Model.SelectedUser.Tagline
</blockquote>
<p>
    <a asp-action="Characters">Combatants</a>
    <a asp-action="Teams">Teams</a>
</p>
<h2>
    Teams
</h2>
<p>
    @Model.Teams.Count team@(Model.Teams.Count == 1 ? "" : "s")
</p>
@foreach (Team team in Model.Teams) {
    <h3>
        @team.Name
    </h3>
    <ul>
        @foreach (Combatant combatant in team) {
            <li>
                @combatant.Name
            </li>
        }
    </ul>
}
