@model TeamEditViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = Model.Mode + " Team";
}
<h1>
    @ViewData["Title"]
</h1>
<form asp-action="@Model.Mode" method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Team.Name">
            Name
        </label>
        <input asp-for="Team.Name" />
    </div>
    <div>
        <label asp-for="Team.Combatant1Id">
            Combatant 1
        </label>
        <select asp-for="Team.Combatant1Id"
            asp-items="@(new SelectList(Model.Combatants, "Id", "Name", Model.Team.Combatant1Id))">
            <option value="">-</option>
        </select>
    </div>
    <div>
        <label asp-for="Team.Combatant2Id">
            Combatant 2
        </label>
        <select asp-for="Team.Combatant2Id"
                asp-items="@(new SelectList(Model.Combatants, "Id", "Name", Model.Team.Combatant2Id))">
            <option value="">-</option>
        </select>
    </div>
    <div>
        <label asp-for="Team.Combatant3Id">
            Combatant 3
        </label>
        <select asp-for="Team.Combatant3Id"
                asp-items="@(new SelectList(Model.Combatants, "Id", "Name", Model.Team.Combatant3Id))">
            <option value="">-</option>
        </select>
    </div>
    <div>
        <label asp-for="Team.Combatant4Id">
            Combatant 4
        </label>
        <select asp-for="Team.Combatant4Id"
                asp-items="@(new SelectList(Model.Combatants, "Id", "Name", Model.Team.Combatant4Id))">
            <option value="">-</option>
        </select>
    </div>
    <div>
        <label asp-for="Team.Combatant5Id">
            Combatant 5
        </label>
        <select asp-for="Team.Combatant5Id"
                asp-items="@(new SelectList(Model.Combatants, "Id", "Name", Model.Team.Combatant5Id))">
            <option value="">-</option>
        </select>
    </div>
    <div>
        <input type="submit" value="Submit" />
        <a asp-controller="User" asp-action="Teams" asp-route-id="@Model.CurrentUser.Id">Cancel</a>
    </div>
</form>
