@{
    Layout = "_LayoutBare";
    ViewData["Title"] = "Result";
}

<div class="row pt-5">
    <h1 class="heading d-flex justify-content-center align-items-center p-0">Result</h1>
</div>
<div class="row pb-5">
    <div class="col-md-6 offset-md-3 p-5 text-center wooden-form">
        <div class="pt-5 pb-3">
            @Model.Winner.Name beat @Model.Loser.Name
        </div>
        <div class="pb-3">
            @Model.Winner.Name: @(Model.Winner.Score - 10) => @Model.Winner.Score
        </div>
        <div class="pb-3">
            @Model.Loser.Name: @(Model.Loser.Score + 3) => @Model.Loser.Score
        </div>
        <div class="pb-3 d-flex justify-content-center">
            <a asp-action="Battle" class="button button-fixed fs-5">Play Again</a>
        </div>
        <div class="pb-3 d-flex justify-content-center">
            <a asp-action="Index" class="button button-fixed fs-5">Go Home</a>
        </div>
        @if (Model.CombatLog.Count > 0) {
            <h3 class="mb-3">
                Combat Log
            </h3>
            <ol class="combat-log text-start pb-3">
                @foreach (var logEntry in Model.CombatLog) {
                    <li>@logEntry</li>
                }
            </ol>
        }
    </div>
</div>
