@model LeaderboardViewModel
@{
    ViewData["Title"] = "Leaderboard";
}

<h1>
    @ViewData["Title"]
</h1>

@{ int counter = 1; }
@foreach (Team team in Model.Teams)
{
    <div>
        <h2>
            @counter. @team.Name
        </h2>
        <p>
            User:
            <a asp-controller="User" asp-action="Index" asp-route-id="@team.User.Id">
                @team.User.Name
            </a>
        </p>
        <p>
            Score: @team.Score
        </p>
        <p>
            Characters:
        </p>
        @await Html.PartialAsync("TeamCharacterList", team)
    </div>
    counter++;
}
