@model LeaderboardViewModel
@{
    ViewData["Title"] = "Leaderboard";
}

<h1 class="heading text-center">@ViewData["Title"]</h1>

@{ int counter = 1; }
@foreach (Team team in Model.Teams!)
{
    <div class="col-md-6 offset-md-3 p-5 wooden-form">
        <h3>@counter. @team.Name (@team.Score points)</h3>
        <p>
            User:
            <a asp-controller="User" asp-action="Index" asp-route-id="@team.User!.Id" class="text-light text-decoration-none">
                @team.User!.Name
            </a>
        </p>
        <p>Characters:</p>
        @await Html.PartialAsync("TeamCharacterList", team)
    </div>
    counter++;
}
