@model LeaderboardViewModel
@{
    ViewData["Title"] = "Leaderboard";
}

<h1>
    @ViewData["Title"]
</h1>

@{ int counter = 1; }
@foreach (Team team in Model.Teams)
{
    <div>
        <h2>
            @counter. @team.Name
        </h2>
        <p>
            User:
            <a asp-controller="User" asp-action="Index" asp-route-id="@team.User.Id" asp-route-section="combatants">
                @team.User.Name
            </a>
        </p>
        <p>
            Score: @team.Score
        </p>
        <p>
            Combatants:
        </p>
        <ul>
            <li>
                <a asp-controller="Character" asp-action="Index" asp-route-id="@team.Combatant1.Id">@team.Combatant1.Name</a>
            </li>
            <li>
                <a asp-controller="Character" asp-action="Index" asp-route-id="@team.Combatant2.Id">@team.Combatant2.Name</a>
            </li>
            <li>
                <a asp-controller="Character" asp-action="Index" asp-route-id="@team.Combatant3.Id">@team.Combatant3.Name</a>
            </li>
            <li>
                <a asp-controller="Character" asp-action="Index" asp-route-id="@team.Combatant4.Id">@team.Combatant4.Name</a>
            </li>
            <li>
                <a asp-controller="Character" asp-action="Index" asp-route-id="@team.Combatant5.Id">@team.Combatant5.Name</a>
            </li>
        </ul>
    </div>
    counter++;
}
