@model CombatantIndexViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = Model.Combatant!.Name;
}

<h1>
    @Model.Combatant.Name
</h1>
@if (Model.Combatant.UserId == Model.CurrentUser?.Id){
    <p>
        <a asp-controller="Combatant" asp-action="Edit" asp-route-id="@Model.Combatant.Id">Edit</a>
        <a asp-controller="Combatant" asp-action="Delete" asp-route-id="@Model.Combatant.Id">Delete</a>
    </p>
}
<p>
    User:
    <a asp-controller="User" asp-action="Index" asp-route-id="@Model.Combatant.User.Id">
        @Model.Combatant.User.Name
    </a>
</p>
<p>
    Health: @Model.Combatant.Health
</p>
<p>
    Type: @Model.Combatant.GetType()
</p>
<p>
    Defense: @Model.Combatant.Defense
</p>
<p>
    Species: @Model.Combatant.Species
</p>
<h2>
    Skills
</h2>
<ul>
    @if (Model.Combatant.SkillPrimary != null)
    {
        <li>
            @Model.Combatant.SkillPrimary.Name
            <ul>
                <li>
                    @Model.Combatant.SkillPrimary.Description
                </li>
                <li>
                    Attack:
                    @Model.Combatant.SkillPrimary.Attack
                </li>
                <li>
                    Defense Multiplier:
                    @Model.Combatant.SkillPrimary.DefenseMultiplier
                </li>
            </ul>
        </li>
    }
    @if (Model.Combatant.SkillSecondary != null)
    {
        <li>
            @Model.Combatant.SkillSecondary.Name
            <ul>
                <li>
                    @Model.Combatant.SkillSecondary.Description
                </li>
                <li>
                    Attack:
                    @Model.Combatant.SkillSecondary.Attack
                </li>
                <li>
                    Defense Multiplier:
                    @Model.Combatant.SkillSecondary.DefenseMultiplier
                </li>
            </ul>
        </li>
    }
    @if (Model.Combatant.SkillTertiary != null)
    {
        <li>
            @Model.Combatant.SkillTertiary.Name
            <ul>
                <li>
                    @Model.Combatant.SkillTertiary.Description
                </li>
                <li>
                    Attack:
                    @Model.Combatant.SkillTertiary.Attack
                </li>
                <li>
                    Defense Multiplier:
                    @Model.Combatant.SkillTertiary.DefenseMultiplier
                </li>
            </ul>
        </li>
    }
</ul>
